<div class="header">
  <div class="container">
    <img src="https://content.codecademy.com/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <%= image_tag @destination.image %>
    
    <!-- Your code here -->
    <%= form_for(@destination) do |f| %>  
      <div class="field"> 
        <%= f.label :name %><br> 
        <%= f.text_field :name %> 
        <%= f.label :description %><br> 
        <%= f.text_field :description %> 
      </div> 
      <div class="actions"> 
        <%= f.submit "Create" %> 
      </div> 
    <% end %>

  </div>
</div> 

